@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background: grey;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}

.main {
  width: 70%;
  padding: 30px;
  box-shadow: 0px 0px 10px 2px white;
  height: 100vh;
  overflow-y: scroll;
}

.main .search-wrapper {
  width: 100%;
  position: sticky;
  top: -4vh;
  background: black;
  height: 10vh;
  z-index: 5;
}

.main .goods-wrapper {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.good {
  width: 30%;
  height: 40%;
  margin: 10px;
}

.good .img {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: flex-end;
}

.good .img .header {
  width: 100%;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px -5px 15px 0.5px black;
  margin: 0px;
  padding: 5px;
}

.good .sub-info {
  background: linear-gradient(90deg, black, rgba(210, 210, 210, 0.3), black);
  padding: 5px;
  max-height: 100px;
  height: 100px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.good .sub-info-trigger {
  color: purple;
  text-decoration: underline;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
}

.good .price {
  color: orange;
}

input {
  border: 1px solid;
  outline: none;
  border-radius: 15px;
  background: black;
  color: white;
}

.divider {
  width: 90%;
  height: 1px;
  border-radius: 15px;
  background: white;
  margin: 5px;
}

.cart {
  overflow-y: auto;
  width: 30%;
  height: 100vh;
  align-items: center;
}

.cart .small-good {
  width: 95%;
  margin: 5px;
  height: 20%;
  align-items: center;
  height: 20%;
  justify-content: space-between;
}

.cart .small-good .img {
  width: 25%;
  height: 100%;
  margin: 10px;
}

.cart .small-good h4 {
  width: 30%;
}
